@page "/"
@using System.Net

<PageTitle>Index</PageTitle>

@foreach (Todo todo in Todos)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Todo</h5>
            <p class="card-text">@todo.Name</p>
            <input type="checkbox" checked="@todo.IsComplete"/>
        </div>
    </div>
}

@code
{
    public List<Todo> Todos { get; set; } = new List<Todo>();

    protected async override Task OnInitializedAsync()
    {
        HttpClient client = new HttpClient();
        await base.OnInitializedAsync();
        Todos = await client.GetFromJsonAsync<List<Todo>>("https://localhost:5001/todoitems");
    }

}