@page
@model Espace.RazorPage.Pages.Shared._AddOrEditpartial

@{

}
<form method="post">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input asp-for="TodoItem.Title"/>
                    <input asp-for="TodoItem.Description"/>
                    <input asp-for="TodoItem.Priority"/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <button class="btn btn-dark">No</button>
                </div>
            </div>
        </div>
    </div>
</form>