@page
@model Espace.RazorPage.Pages.DetailsModel
@{

}

<input class="form-control w-50 mb-1" asp-for="TodoItem.Title" readonly/>
<input class="form-control w-50 mb-1" asp-for="TodoItem.Description" readonly/>
<input class="form-control w-50 mb-1" asp-for="TodoItem.Priority" readonly/>
<a class="btn btn-primary" asp-page="/Index">Back</a>