@page "{id}"
@using Espace.Service.Shared.Models
@model Espace.RazorPage.Pages.EditModel

@{

}
<h1>Editing @Model.TodoItem.Id</h1>

<form method="post">
    <input class="form-control w-50 mb-1" asp-for="TodoItem.Id" type="hidden"/>
        <label asp-for="TodoItem.Title"></label>
    <input class="form-control w-50 mb-1" asp-for="TodoItem.Title"/>
        <label asp-for="TodoItem.Description"></label>
    <input class="form-control w-50 mb-1" asp-for="TodoItem.Description"/>
        <label asp-for="TodoItem.Priority"></label>
    @Html.DropDownListFor(x => x.TodoItem.Priority, Html.GetEnumSelectList(typeof(PriorityLevel)),
        new {@class = "form-control dropdown-toggle w-25 mb-2"})
    <button type="submit" class="btn btn-success">Update</button>
</form>