@page
@model Espace.RazorPage.Pages.EditModel

@{
    
}

<form method="post">
    <input asp-for="TodoItem.Id" type="hidden"/>
    <input asp-for="TodoItem.Title"/>
    <input asp-for="TodoItem.Description"/>
    <input asp-for="TodoItem.Priority"/>
    <button type="submit" class="btn btn-success">Update</button>
</form>
